{{ define "main"}}
    <main>
        {{ .Content }}

        {{ if not (eq .Type "chapter") }}
            <div id="divgrid">
                {{ range sort ( where .Site.Pages "Type" "chapter" ) ".Params.sort" }}

                    <a href={{ .Permalink }}>
                        <div class="chbox">
                            <img src={{ .Params.image }} alt={{ .Title }} style="width: 300px; padding-top: 8px; background: white;"/>

                            <h3 style="padding-top: 24px;">{{ .Title }}</h3>
                        </div>
                    </a>

                {{ end }}
            </div>

        {{else}}

            <ol style="margin-left: 30px;">
            {{ range sort ( where .CurrentSection.Pages "Type" "topic" ) ".Params.sort" }}

                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>

            {{ end }}
            </ol>

        {{ end }}
        
    </main>
{{ end }}