{{ define "main"}}
    <main>
        {{ if eq .Type "topic"}}
            <center><h1 style="font-weight: 200;">{{ .Title }}</h1></center>
            <hr>
        {{ end }}

        {{ .Content }}

        {{ if eq .Type "topic" }}
            {{ $current := . }}
            {{ $pages := sort (.CurrentSection.RegularPages) ".Params.sort" }}
            {{ $prev := "" }}
            {{ $next := "" }}

            {{ range $i, $p := $pages }}
                {{ if eq $p $current }}
                    {{ if gt $i 0 }}
                        {{ $prev = index $pages (sub $i 1) }}
                    {{ end }}
                    {{ if lt (add $i 1) (len $pages) }}
                        {{ $next = index $pages (add $i 1) }}
                    {{ end }}
                {{ end }}
            {{ end }}

            <div class="pagination" style="display: flex; justify-content: space-between;">
                {{ if $prev }}
                    <a class="prev" href="{{ $prev.RelPermalink }}" style="color: rgb(255, 255, 255);" title="Previous section,  {{ $prev.Title }}">
                        <div class="preNextBut">← Previous ({{ $prev.Title }})</div>
                    </a>
                {{ else }}
                    <span></span>
                {{ end }}

                {{ if $next }}
                    <a class="next" href="{{ $next.RelPermalink }}" style="color: rgb(255, 255, 255);" title="Next section, {{ $next.Title }}">
                        <div class="preNextBut">Next ({{ $next.Title }}) →</div>
                    </a>
                        
                {{ end }}
            </div>
        {{ end }}
    </main>
{{ end }}