<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Not Found</title>
  <link rel="stylesheet" href="/style.css"/>
  <link rel="canonical" href="https://physicsderived.club/404">

  <style>
    body { 
      font-family: sans-serif; 
      text-align: center; 
      margin-top: 50px; 
    }

    body a:link{
      text-decoration: none;
      color: hsl(920, 100%, 50%);
    }

    body a:visited{
      color: hsl(263, 93%, 66%);
    }


  </style>
  <link rel="icon" type="image/x-icon" href="https://physicsderived.club/favicon.ico"/>
  <meta property="og:site_name" content="Physics Derived">
  <meta property="og:title" content="Page Not Found">
</head>
<body>

  <a href="/"><img src="/images/icon.png" alt="Website icon" width="100px;"></a>


  <h1>404 - Page Not Found</h1>

  <p style="margin: 0;">Sorry, the requested page doesn't exist.</p>

  <div id="suggestion-box" style="margin:auto; width:auto"></div>
  
  <p>You might like to  visit the website's <a href="/">Home Page</a>.</p>


  <script src="/index.js"></script>

  <script>
    
    const path = window.location.pathname;
    const term = decodeURIComponent(path.split('/').pop().replace('.html', '').replace(/[-_]/g, ''));

    const suggestions = [
      // General Pages
      { keyword: 'algeb', title: 'Linear Algebra (chapter)', url: '/chapters/linear_algebra' },
      { keyword: 'calcu', title: 'Single Variable Calcullus', url: '/chapters/Msingle_variable_calculus' },
      { keyword: 'abou', title: 'About Us', url: '/about' },
      { keyword: 'contact', title: 'Contact Us', url: '/contact' },
      { keyword: 'feedback', title: 'Feedback', url: '/feedback' },
      { keyword: 'chapter', title: 'Chapters', url: '/chapters' }, 
      
      
    ];

    // const match = suggestions.find(s => term.toLowerCase().includes(s.keyword));
    // if (match) {
    //   document.getElementById('suggestion-box').innerHTML = `
    //     <p>Were you looking for: <a href="${match.url}">${match.title}</a></p>
    //   `;
    // }


    const matches = suggestions.filter(s => term.toLowerCase().includes(s.keyword));
    if (matches.length > 0) {
      const links = matches.map(m => `<li style="display: inline-block"><a href="${m.url}">${m.title}</a></li>`).join(', ');
      document.getElementById('suggestion-box').innerHTML = `
      <p style="display: inline-block; margin-bottom: 8px;"><b>Were you looking for:</b></p>
      <ul style="list-style-type:none; display: inline-block; padding-left: 3px; margin: 0; margin-bottom: 16px">${links}</ul>
      `;
    }


  </script>
</body>
</html>
